@using Microsoft.AspNetCore.Authentication
@model List<Helping_Hands.Models.CareVisitPerNurseModel>
@using Microsoft.AspNetCore.Authentication.Cookies
@{
    var username = Context.Session.GetString("Username");
    var userType = Context.Session.GetString("UserType");
    var isLoggedIn = !string.IsNullOrEmpty(username);
}
@{
    ViewData["Title"] = "NurseVisits";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
<style>
    * {
        font-family: sans-serif;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       
        margin-left: 0;
       
    }

        .content-table thead tr {
            background-color: #004170;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
            text-align: left;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .content-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }

    .sidebar-list a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

        .sidebar-list a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

    .main {
        margin-left: 200px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .dropdown-container {
        display: none;
        padding-left: 8px;
    }

    .active {
        background-color: green;
        color: white;
    }

    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    .notification-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 11px;
    }

    .notification {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background-color: #333;
        color: white;
        border-radius: 50%;
        margin-right: 10px;
        top: -14px;
        right: -20px;
    }

        .notification::before {
            content: "\f0f3";
            font-family: FontAwesome;
            position: absolute;
            top: -13px;
            right: -20px;
            color: black;
            font-size: 27px;
        }


    .badge {
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        position: absolute;
        top: -15px;
        right: -25px;
    }

    .modal-text {
        color: black;
    }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .user-type {
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .welcome {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
    }

    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
    }

    form .button {
        margin-top: 10px;
        margin-left: 40px;
    }

    .centered-content {
        text-align: center;
    }

    .content-table {
        margin: 0 auto;
    }

    .centered-content {
        text-align: center;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .table-header-left {
        float: left;
        left:5%;
    }

    .table-header-right {
        float: right;
    }

    .form-group {
        display: inline-block;
        width: 48%;
        margin-right: 2%;
    }


    label {
        display: block;
        margin-bottom: 5px;
        color:white;
    }

    input[type="date"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .date-picker-container {
        display: flex;
        justify-content: space-between;
        background-color: #004170;
        padding: 10px;
        border-radius: 10px;
        min-height: 45px;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .table-header-label {
        flex: -5; /* Distribute space equally for both labels */
    }


</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/NurseDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>

            <div class="header-right">

                @if (isLoggedIn)
                {
                    <span class="welcome">Welcome, @username </span>

                    <span class="user-type">@userType</span>
                }
            </div>

        </header>

        <aside id="sidebar" style="background-color:#004170">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <h5 style="color:white"><i class="fa fa-heartbeat" style="color:white;font-size:27px" aria-hidden="true"></i> HELPING HANDS</h5>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list" style="color:white">
                <li class="sidebar-list-item">
                    <a asp-action="OfficeManager" asp-controller="OfficeManager" class="w3-bar-item w3-button"><i class="fas fa-window-maximize" style="font-size:20px;color:white;"></i> Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="ChronicCondition" asp-controller="OfficeManager" class="w3-bar-item w3-button"><i class="fa fa-medkit" aria-hidden="true" style="font-size:20px;color:white"></i> Maintain Conditions</a>

                </li>
                <li class="sidebar-list-item">
                    <a asp-action="ChangePassword" asp-controller="OfficeManager" class="w3-bar-item w3-button"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size:20px;color:white"></i> Change Password</a>

                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-book" aria-hidden="true" style="font-size:20px;color:white"></i>
                        CARE CONTRACTS
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/OfficeManager/CareContractsDateRange">Nurse Contracts</a>
                        <a href="~/OfficeManager/ViewNewContracts">New Contracts</a>

                    </div>

                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-user-md" aria-hidden="true" style="font-size:20px;color:white"></i>
                        NURSES
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/OfficeManager/NurseDetails">Nurses Per Suburb</a>
                        <a href="~/OfficeManager/ListContracts">Assign Nurse</a>
                        <a href="~/OfficeManager/NurseVisitsDateRange">Nurse Visits</a>
                    </div>

                </li>

                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:20px;color:white"></i>
                        REPORTS
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/OfficeManager/PatientContractsAndVisits">Contracts and Vists</a>
                    </div>

                </li>
                <li class="sidebar-list-item">
                    @if (isLoggedIn)
                    {
                        <form asp-action="Logout" asp-controller="User" method="post" class="w3-bar-item w3-button">
                            <button type="submit" style="background-color:#00416A;border:none;color:white;font-size:15px;" class="w3-bar-item w3-button"><i class="fa fa-sign-out" aria-hidden="true" style="font-size:20px;color:white"></i> Logout</button>
                        </form>
                    }
                </li>


            </ul>
        </aside>


        <main class="main-container">
            <h3 style="text-align:center;font-weight:bold;">View nurse care visits (Date Range) </h3>

            <form asp-controller="OfficeManager" asp-action="NurseVisitsDateRange" method="post">
                <div id="error-message" class="text-danger"></div>
                <div class="date-picker-container">
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" name="startDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" name="endDate" class="form-control" required>
                    </div>
                </div>

                <br />
                <button type="submit" class="btn btn-success">View Care Visits</button>
            </form>

            @if (Model != null && Model.Count > 0)
            {
                
                <table class="content-table" >
                    <thead>
                        <tr class="active-row">
                            <th colspan="4">
                                <div class="table-header-left">
                                    <strong>FROM:</strong> @string.Format("{0:yyyy-MM-dd}", ViewBag.StartDate.ToString("dd MMMM yyyy"))
                                </div>
                                <div class="table-header-right">
                                    <strong>TO:</strong> @string.Format("{0:yyyy-MM-dd}", ViewBag.EndDate.ToString("dd MMMM yyyy"))
                                </div>
                            </th>
                        </tr>
                        
                        <tr class="active-row">
                        </tr>
                        <tr>
                            <th>Visit Date</th>
                            <th>Approcimate Arrive Time</th>
                           
                            <th>Nurse Name</th>
                            <th>Patient Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var visit in Model)
                        {
                            <tr>
                                <td>@string.Format("{0:yyyy-MM-dd}", visit.VisitDate.ToString("dd MMMM yyyy"))</td>
                                <td>@visit.ApproximateArriveTime.ToString(@"hh\:mm")</td>
                                
                                <td>@visit.NurseSurname</td>
                                <td>@visit.PatientFirstName</td>

                            </tr>
                            
                        }
                       
                        
                    </tbody>

                   
                </table>
                <div style="left:40%;">
                    <strong>Nurse Care Visits (Total: @Model.Count)</strong>
                </div>
               
               
            }
            else
            {
                <br />
                <h3>No care visits found for the specified date range.</h3>
            }


        </main>


    </div>
    <script src="~/js/Nurse.js"></script>
</body>
</html>

<script>



    var startDateInput = document.getElementById("startDate");
    var endDateInput = document.getElementById("endDate");
    var errorMessageElement = document.getElementById("error-message");
    endDateInput.addEventListener("change", function () {
        var startDate = new Date(startDateInput.value);
        var endDate = new Date(endDateInput.value);
        if (endDate < startDate) {
            errorMessageElement.innerText = "End Date cannot be earlier than Start Date.";
            endDateInput.value = "";
        } else {
            errorMessageElement.innerText = "";
        }
    });

    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }


    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        var selectElement = document.querySelector("select[name='SelectedSuburb']");
        selectElement.addEventListener("invalid", function () {
            this.setCustomValidity("");
            if (!this.validity.valid) {
                this.setCustomValidity(this.getAttribute("data-validation-message"));
            }
        });
    });


  
</script>