@using Microsoft.AspNetCore.Authentication
@model PreferredSuburbViewModel
@using Microsoft.AspNetCore.Authentication.Cookies
@{
    var username = Context.Session.GetString("Username");
    var userType = Context.Session.GetString("UserType");
    var isLoggedIn = !string.IsNullOrEmpty(username);
}
@{
    ViewData["Title"] = "PreferredSuburb";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
<style>
    .chumani {
        position: absolute;
        top: 112px;
        height: 400px;
        right: 8px;
        padding: 20px;
        background-color: #8b9eb7;
        color: #222831;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 300px;
    }

        .chumani h2 {
            font-size: 24px;
            font-weight: bold;
        }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .user-type {
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .welcome {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
    }

    span.suburb {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
        text-align: right;
    }



    div.contain {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    ul.second {
        display: inline-block;
        text-align: left;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .open-button {
        background-color: #4E76A1;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 10px;
        width: 270px;
        font-weight: bold;
        font-size: 16px;
    }

    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 9px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container {
        max-width: 600px;
        padding: 10px;
        background-color: white;
    }

        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 600px;
        }

            .form-container textarea:focus {
                background-color: #ddd;
                outline: none;
            }

        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        .form-container .cancel {
            background-color: red;
        }

        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }

    .main {
        margin-left: 200px;
        font-size: 15px;
        padding: 0px 10px;
    }

    .dropdown-container {
        display: none;
        padding-left: 8px;
    }

    .active {
        background-color: green;
        color: white;
    }

    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    .sidebar-list a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

        .sidebar-list a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 250px;
    }

    .rounded-container {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        background-color: #DCDCDC;
        position: fixed;
        height: 440px;
        width: 600px;
        text-align: left;
        top: 25%;
        left: 38%;
    }

    .input-label {
        font-weight: bold;
        display: block;
        margin-top: 10px; 
    }

    .centered-button {
        text-align: center; /* Center the button horizontally */
        margin-top: 20px; /* Add vertical spacing */
    }

        .centered-button button {
            width: 180px; 
        }
</style>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/NewButtons.css" />
    <link rel="stylesheet" href="~/css/NurseDetails.css">
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-right">
                @if (isLoggedIn)
                {
                    <span class="welcome">Welcome, @username </span>

                    <span class="user-type">@userType</span>
                }
            </div>
            <div class="main-title">
                <p class="font-weight-bold">Nurse Dashboard</p>
            </div>
        </header>
        <aside id="sidebar" style="background-color:#00416A">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <h5 style="color:white"><i class="fa fa-heartbeat" style="color:white;font-size:27px" aria-hidden="true"></i> HELPING HANDS</h5>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list" style="color:white">
                <li class="sidebar-list-item">
                    <a asp-action="NurseDashboard" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fas fa-window-maximize" style="font-size:20px;color:white;"></i> Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="NewCareContracts" asp-controller="Nurse" id="assignContractLink" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;color:white"></i> Assign Care Contract</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="PlanCareVisit" asp-controller="Nurse" id="scheduleVisitLink" class="w3-bar-item w3-button"><i class="fa fa-ambulance" aria-hidden="true" style="font-size:20px;color:white"></i> Schedule Visit</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="NurseUpdatePassword" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size:20px;color:white"></i>  Change Password</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="TodaysVisits" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-medkit" aria-hidden="true" style="font-size:20px;color:white"></i>  Today's Visits</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="CurrentlyAssignedNurseCareContract" id="AssignedNurseLink" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-user-plus" aria-hidden="true" style="font-size:20px;color:white"></i>  Assigned Nurse Contracts</a>
                </li>

                <li class="sidebar-list-item">
                    <a asp-action="AssignedPatientAndConditions" id="AssignedPatientLink" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;color:white"></i>  Assigned Patients</a>
                </li>

                <li class="sidebar-list-item">
                    <a asp-action="PreferredSuburb" asp-controller="Nurse" id="preferredSuburbLink" class="w3-bar-item w3-button"><i class="fa fa-map-marker" aria-hidden="true" style="font-size:20px;color:white"></i>  Preferred Suburb</a>
                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:20px;color:white"></i>
                        Reports
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/Nurse/CareVisitsPerNurse">Upcoming Visits</a>

                    </div>

                </li>
                <li class="sidebar-list-item">
                    <a asp-action="ViewContracts" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-folder-open" aria-hidden="true" style="font-size:20px;color:white"></i>View New Contracts</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="Profile" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-user" aria-hidden="true" style="font-size:20px;color:white"></i> Profile</a>
                </li>

                <li class="sidebar-list-item">
                    @if (isLoggedIn)
                    {
                        <form asp-action="Logout" asp-controller="User" method="post">
                            <button type="submit" style="background-color:#00416A;border:none;color:white;font-size:15px;"><i class="fa fa-sign-out" aria-hidden="true" style="font-size:20px;color:white"></i> Logout</button>
                        </form>
                    }
                </li>


            </ul>
        </aside>
        <main class="main-container">
           
            <div class="rounded-container">
                <form asp-action="PreferredSuburb" method="post">
                    <h3 style="text-align:center;font-weight:bold;">Choose your preferred suburb</h3>
                    <h6 class="text-success" style="text-align:center">@TempData["SuccessMessage"]</h6>
                    <h6 class="text-danger" style="text-align:center">@TempData["errorMessage"]</h6>
                    <br />

                    <!-- City Label -->
                    <label for="cityDropdown" class="input-label">City</label>
                    <select asp-for="SelectedCityId" id="cityDropdown" required>
                        <option value="">-- Select City --</option>
                    </select>
                    <br />

                    <!-- Suburb Label -->
                    <label for="suburbDropdown" class="input-label">Suburb</label>
                    <select asp-for="SelectedSuburbId" asp-items="new SelectList(Model.Suburbs, nameof(Suburb.SuburbId), nameof(Suburb.SuburbName))" id="suburbDropdown" required data-validation-message="Suburb field cannot be left empty">
                        <option value="">-- Select Suburb --</option>
                    </select>

                    <br />
                    <br />
                    <div class="centered-button">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>

        </main>


    </div>
   
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Nurse.js"></script>
<script>
   
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    //Preferred Suburb
    $(document).ready(function () {
        var cityDropdown = $("#cityDropdown");
        var suburbDropdown = $("#suburbDropdown");

        // Initially, disable the suburb dropdown
        suburbDropdown.prop('disabled', true);

        // Get cities and populate the city dropdown
        $.get("/Nurse/GetCities", function (data) {
            $.each(data, function (index, item) {
                cityDropdown.append(new Option(item.text, item.value));
            });
        });

        // Handle the city dropdown change event
        cityDropdown.change(function () {
            var cityId = $(this).val();

            if (cityId !== "") {
                // Enable the suburb dropdown
                suburbDropdown.prop('disabled', false);

                // Get suburbs for the selected city and populate the suburb dropdown
                $.get("/Nurse/GetSuburbsByCity?cityId=" + cityId, function (data) {
                    suburbDropdown.empty().append('<option value="">-- Select Suburb --</option>');
                    $.each(data, function (index, item) {
                        suburbDropdown.append(new Option(item.text, item.value));
                    });
                });
            } else {
                // If no city is selected, disable the suburb dropdown and clear its options
                suburbDropdown.prop('disabled', true);
                suburbDropdown.empty().append('<option value="">-- Select Suburb --</option>');
            }
        });
    });




    document.getElementById("assignContractLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("NewCareContracts", "Nurse")';
                } else {
                    alert("Please fill in create profile before assigning contract.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("scheduleVisitLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("PlanCareVisit", "Nurse")';
                } else {
                    alert("Please fill in create profile before scheduling visit.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("preferredSuburbLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("PreferredSuburb", "Nurse")';
                } else {
                    alert("Please fill in create profile before choosing preferred suburb.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("AssignedNurseLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("CurrentlyAssignedNurseCareContract", "Nurse")';
                } else {
                    alert("Please fill in create profile before viewing your care contracts.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("AssignedPatientLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("AssignedPatientAndConditions", "Nurse")';
                } else {
                    alert("Please fill in create profile before viewing assigned patient.");
                }
            },
            error: function () {
            }
        });
    });


</script>