@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@{
    var username = Context.Session.GetString("Username");
    var userType = Context.Session.GetString("UserType");
    var isLoggedIn = !string.IsNullOrEmpty(username);

    bool hasNurseDetails = !string.IsNullOrEmpty(Model.Surname);
}

@model NurseProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
<style>
    .chumani {
        position: absolute;
        top: 100px;
        right: 8px;
        padding: 20px;
        background-color: #8b9eb7; /* Choose your preferred background color */
        color: #222831; /* Text color */
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 300px; /* Adjust the maximum width as needed */
    }

        .chumani h2 {
            font-size: 24px;
            font-weight: bold; /* Add this line to make the text bold */
        }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .header-right {
        position: absolute;
        right: 5px;
    }

    .user-type {
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .welcome {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
    }

    span.suburb {
        font-weight: bold;
        color: #4E76A1;
        font-size: 18px;
        text-align: right;
    }



    div.contain {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    ul.second {
        display: inline-block;
        text-align: left;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .open-button {
        background-color: #4E76A1;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 10px;
        width: 270px;
        font-weight: bold;
        font-size: 16px;
    }

    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 9px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container {
        max-width: 600px;
        padding: 10px;
        background-color: white;
    }

        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 600px;
        }

            .form-container textarea:focus {
                background-color: #ddd;
                outline: none;
            }

        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        .form-container .cancel {
            background-color: red;
        }

        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }

    .sidebar-list a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

        .sidebar-list a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

    .main {
        margin-left: 200px;
        font-size: 15px;
        padding: 0px 10px;
    }

    .dropdown-container {
        display: none;
        padding-left: 8px;
    }

    
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }
</style>

<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/NurseDetails.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
   
   
</head>


<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-right">
                @if (isLoggedIn)
                {
                    <span class="welcome">Welcome, @username </span>

                    <span class="user-type">@userType</span>
                }
            </div>
            <div class="main-title">
                
            </div>
        </header>

        <aside id="sidebar" style="background-color:#00416A">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <h5 style="color:white"><i class="fa fa-heartbeat" style="color:white;font-size:27px" aria-hidden="true"></i> HELPING HANDS</h5>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list" style="color:white">
                <li class="sidebar-list-item">
                    <a asp-action="NurseDashboard" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fas fa-window-maximize" style="font-size:20px;color:white;"></i> Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="NewCareContracts" asp-controller="Nurse" id="assignContractLink" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;color:white"></i> Assign Care Contract</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="PlanCareVisit" asp-controller="Nurse" id="scheduleVisitLink" class="w3-bar-item w3-button"><i class="fa fa-ambulance" aria-hidden="true" style="font-size:20px;color:white"></i> Schedule Visit</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="NurseUpdatePassword" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size:20px;color:white"></i>  Change Password</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="TodaysVisits" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-medkit" aria-hidden="true" style="font-size:20px;color:white"></i>  Today's Visits</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="CurrentlyAssignedNurseCareContract" id="AssignedNurseLink" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-user-plus" aria-hidden="true" style="font-size:20px;color:white"></i>  Assigned Nurse Contracts</a>
                </li>

                <li class="sidebar-list-item">
                    <a asp-action="AssignedPatientAndConditions" id="AssignedPatientLink" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px;color:white"></i>  Assigned Patients</a>
                </li>

                <li class="sidebar-list-item">
                    <a asp-action="PreferredSuburb" asp-controller="Nurse" id="preferredSuburbLink" class="w3-bar-item w3-button"><i class="fa fa-map-marker" aria-hidden="true" style="font-size:20px;color:white"></i>  Preferred Suburb</a>
                </li>
                <li class="sidebar-list-item">
                    <button class="dropdown-btn">
                        <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:20px;color:white"></i>
                        Reports
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="~/Nurse/CareVisitsPerNurse">Upcoming Visits</a>

                    </div>

                </li>
                <li class="sidebar-list-item">
                    <a asp-action="ViewContracts" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-folder-open" aria-hidden="true" style="font-size:20px;color:white"></i>View New Contracts</a>
                </li>
                <li class="sidebar-list-item">
                    <a asp-action="Profile" asp-controller="Nurse" class="w3-bar-item w3-button"><i class="fa fa-user" aria-hidden="true" style="font-size:20px;color:white"></i> Profile</a>
                </li>

                <li class="sidebar-list-item">
                    @if (isLoggedIn)
                    {
                        <form asp-action="Logout" asp-controller="User" method="post">
                            <button type="submit" style="background-color:#00416A;border:none;color:white;font-size:15px;"><i class="fa fa-sign-out" aria-hidden="true" style="font-size:20px;color:white"></i> Logout</button>
                        </form>
                    }
                </li>


            </ul>
        </aside>
        

       <main class="main-container">
            <div class="container light-style flex-grow-1 container-p-y">
                
                <div class="card overflow-hidden">
                    <div class="row no-gutters row-bordered row-border-light">
                        <div class="col-md-3 pt-0">
                            <div class="list-group list-group-flush account-settings-links">
                                <a class="list-group-item list-group-item-action active" data-toggle="list">User Profile</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="account-general">
                                    <hr class="border-light m-0">
                                    <div class="card-body">
                                        @if (string.IsNullOrEmpty(Model.Surname) &&
                                        string.IsNullOrEmpty(Model.FirstName) &&
                                        string.IsNullOrEmpty(Model.Gender) &&
                                        string.IsNullOrEmpty(Model.Idnumber))
                                        {
                                            <div class="alert alert-info">@username Please provide your details</div>
                                        }

                                        @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
                                        {
                                            <h4 class="text-success">@TempData["SuccessMessage"]</h4>
                                        }
                                        <form asp-action="Profile" method="post">
                                            @Html.HiddenFor(model => model.NurseId)

                                            <div class="form-group">
                                                <label asp-for="Surname">Surname</label>
                                                <input type="text" asp-for="Surname" class="form-control" style="width:300px" />
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <label asp-for="FirstName">First Name</label>
                                                <input type="text" asp-for="FirstName" class="form-control" style="width:300px" />
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <label asp-for="Gender">Gender</label>
                                                <select asp-for="Gender" class="form-control" style="width:300px">
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <label asp-for="Idnumber">ID Number</label>
                                                <input type="text" asp-for="Idnumber" class="form-control" style="width:300px" />
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <!-- First Button (Update) -->
                                                <button type="submit" id="updateButton" class="btn btn-success">Update</button>

                                                <!-- Second Button (Back) -->
                                                <a asp-action="NurseDashboard" asp-controller="Nurse" class="btn btn-success float-right" style="margin-left: 146px;">Back</a>
                                            </div>



                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        

        </main>


    </div>
    


</body>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }


    document.getElementById("assignContractLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("NewCareContracts", "Nurse")';
                } else {
                    alert("Please fill in create profile before assigning contract.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("scheduleVisitLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("PlanCareVisit", "Nurse")';
                } else {
                    alert("Please fill in create profile before scheduling visit.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("preferredSuburbLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("PreferredSuburb", "Nurse")';
                } else {
                    alert("Please fill in create profile before choosing preferred suburb.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("AssignedNurseLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("CurrentlyAssignedNurseCareContract", "Nurse")';
                } else {
                    alert("Please fill in create profile before viewing your care contracts.");
                }
            },
            error: function () {
            }
        });
    });

    document.getElementById("AssignedPatientLink").addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/Nurse/CheckNurseDetails",
            success: function (result) {
                if (result.detailsExist) {
                    window.location.href = '@Url.Action("AssignedPatientAndConditions", "Nurse")';
                } else {
                    alert("Please fill in create profile before viewing assigned patient.");
                }
            },
            error: function () {
            }
        });
    });

</script>
<script src="~/js/Nurse.js"></script>







